.country-item {
  position: relative;
  aspect-ratio: 1;
  padding: 10px;
}

.country-item::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.country-item-dark {
  background-color: var(--primary-color-dark);
}

.country-item-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.country-flag {
  width: auto;
  height: 30px;
}

.country-statistic {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-top: 100%;
}
