.country-headline {
  position: relative;
  height: 150px;
  padding: 10px;
}

.country-headline::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.country-headline-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.country-flag {
  width: 50px;
  height: auto;
}

.country-statistic {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.country-name {
  text-transform: uppercase;
}

.cities-list {
  list-style: none;
  padding: 0;
}
